:root {
  --primaryFont: 'Saira Semi Condensed', sans-serif;
  
  --primaryColor: #0773E8;
  --headingColor: #252525;
}

html {
  font-size: 10px;
  box-sizing: border-box;
  height: 100%;
}

*, *::after, *::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-weight: normal;
  font-family: var(--primaryFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #7C7C7C;
}

textarea {
  resize: none;
  overflow: hidden !important;
}

.buildWrapper {
  width: 100%;
  min-height: 100vh;
  padding: 10rem;
  background: var(--primaryColor);
}

.buildWrapper__container {
  width: 1190px;
  height: auto;
  background: #FFFFFF;
  margin: 0 auto;
  padding: 5rem;
  box-shadow: 0px 1px 2px hsl(200, 20%, 70%);
}

.sampleTemplateH1 {
  width: 100%;
  border: none;
  outline: none;
  font-family: var(--primaryFont);
  color: var(--primaryColor);
  font-size: 6rem;
  font-weight: 600;
  height: 6rem;
  transition: background 250ms ease-in-out;
  margin-left: -4px;
}

.sampleTemplateH3 {
  width: 100%;
  border: none;
  outline: none;
  font-family: var(--primaryFont);
  font-size: 2rem;
  font-weight: 600;
  height: 3rem;
  transition: background 250ms ease-in-out;
  text-transform: uppercase;
  color: var(--headingColor);
  margin-top: -2rem;
}

.sampleTemplateH4 {
  width: 100%;
  border: none;
  outline: none;
  font-family: var(--primaryFont);
  font-size: 1.6rem;
  font-weight: 400;
  transition: background 250ms ease-in-out;
  color: var(--headingColor);
  margin-top: -2rem;
}

.sampleTemplateH5 {
  width: 100%;
  border: none;
  outline: none;
  font-family: var(--primaryFont);
  font-size: 1.8rem;
  font-weight: 600;
  transition: background 250ms ease-in-out;
  color: var(--primaryColor);
  margin-top: -2rem;
}

.sampleTemplateP {
  width: 100%;
  border: none;
  outline: none;
  font-family: var(--primaryFont);
  font-size: 1.6rem;
  font-weight: 400;
  transition: background 250ms ease-in-out;
  color: var(--headingColor);
  resize: none;
}

.input:focus,
.sampleTemplateTags input:focus,
.sampleTemplateExpEdu input:focus,
.sampleTemplateP:focus,
.sampleTemplateH5:focus,
.sampleTemplateH4:focus,
.sampleTemplateH3:focus,
.sampleTemplateH1:focus {
  background: #f2f5f7;
}

.sampleTemplateRow {
  display: grid;
  grid-template-columns: 30rem 1fr;
  gap: 2rem;
}

.sampleTemplateGroup {
  margin-bottom: 1rem;
}

.sampleTemplateIconInput {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.sampleTemplateIconInput > span {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-radius: 50%;
  margin-right: 1rem;
}

.sampleTemplateIconInput > span > svg {
  width: 1rem;
  height: 1rem;
}

.sampleTemplateIconInput > input {
  flex: 1;
  border: none;
  outline: none;
  font-family: var(--primaryFont);
  font-size: 1.6rem;
  font-weight: 400;
  transition: background 250ms ease-in-out;
  color: var(--headingColor);
}

.sampleTemplateExpEdu {
  padding: .5rem;
  padding-left: 4rem;
  padding-right: 1rem;
  border: 2px dashed transparent;
  transition: all 250ms ease-in-out;
  position: relative;
}

.sampleTemplateExpEdu::before {
  content: "";
  position: absolute;
  top: 1.6rem;
  left: 1.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--primaryColor);
}

.sampleTemplateExpEdu::after {
  content: "";
  position: absolute;
  top: 3rem;
  left: 1.8rem;
  width: .4rem;
  height: 85%;
  background: var(--primaryColor);
  opacity: .5;
}

.sampleTemplateExpEdu:last-child::after {
  display: none;
}

.sampleTemplateExpEdu:hover {
  border: 2px dashed rgb(124, 124, 124, .4);
}

.sampleTemplateExpEdu input {
  border: none;
  outline: none;
  font-family: var(--primaryFont);
  font-size: 1.6rem;
  font-weight: 400;
  transition: background 250ms ease-in-out;
  color: var(--headingColor);
}

.sampleTemplateExpEdu > input {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primaryColor);
}

.sampleTemplateExpEdu > div {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
  margin-bottom: .5rem;
}

.sampleTemplateExpEdu > div > input:first-child {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.sampleTemplateExpEdu > div > input:last-child {
  font-size: 1.5rem;
  text-align: right;
}

.sampleTemplateExpEdu__menus {
  position: absolute;
  top: -1.5rem;
  right: -1rem;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms ease-in-out;
}

.sampleTemplateExpEdu__menus > button {
  margin-left: .5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background: var(--primaryColor);
  color: var(--headingColor);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sampleTemplateExpEdu:hover .sampleTemplateExpEdu__menus {
  opacity: 1;
  pointer-events: all;
}

.sampleTemplateExpEdu.edu::after {
  height: 80%;
}

.sampleTemplateTags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.5rem 0;
}

.sampleTemplateTag input {
  border: none;
  outline: none;
  font-family: var(--primaryFont);
  font-size: 1.6rem;
  font-weight: 400;
  transition: background 250ms ease-in-out;
  color: var(--headingColor);
  width: 11ch;
}

.sampleTemplateTag {
  position: relative;
}

.sampleTemplateTag__menus {
  position: absolute;
  top: -1.5rem;
  right: -1rem;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms ease-in-out;
}

.sampleTemplateTag__menus > button {
  margin-left: .5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background: var(--primaryColor);
  color: var(--headingColor);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sampleTemplateTag:hover .sampleTemplateTag__menus {
  opacity: 1;
  pointer-events: all;
}

.sampleTemplateCircleSkills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem 0;
}

.sampleTemplateCircleSkill {
  display: flex;
  align-items: center;
  border: 2px dashed transparent;
  padding: 1rem;
  transition: all 250ms ease-in-out;
  position: relative;
  user-select: none;
}

.sampleTemplateCircleSkill__circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
}

.sampleTemplateCircleSkill__circle > span {
  position: absolute;
  top: 48%;
  left: 54%;
  transform: translate(-50%, -50%);
}

.sampleTemplateCircleSkill__circle > svg {
  width: 58px;
  height: 58px;
  transform: rotate(-90deg);
}

.sampleTemplateCircleSkill__circle > svg > circle {
  fill: transparent;
  stroke: var(--primaryColor);
  stroke-width: 5px;
  stroke-dasharray: 160;
}

.sampleTemplateCircleSkill__circle > svg > circle:first-child {
  stroke-dashoffset: 0;
  opacity: .5;
}

.sampleTemplateCircleSkill:hover {
  border: 2px dashed rgb(124, 124, 124, .4);
}

.sampleTemplateCircleSkill__menus {
  position: absolute;
  top: -1.5rem;
  right: -1rem;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms ease-in-out;
}

.sampleTemplateCircleSkill__menus > button {
  margin-left: .5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background: var(--primaryColor);
  color: var(--headingColor);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sampleTemplateCircleSkill:hover .sampleTemplateCircleSkill__menus {
  opacity: 1;
  pointer-events: all;
}

.sampleTemplateBarSkills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem 0;
}

.sampleTemplateBarSkill {
  display: flex;
  align-items: center;
  border: 2px dashed transparent;
  padding: 1rem;
  transition: all 250ms ease-in-out;
  position: relative;
  user-select: none;
}

.sampleTemplateBarSkill:hover {
  border: 2px dashed rgb(124, 124, 124, .4);
}

.sampleTemplateBarSkill__bars {
  display: flex;
  gap: .7rem;
  margin-right: 1rem;
}

.sampleTemplateBarSkill__bars > span {
  display: block;
  width: 4rem;
  height: 7px;
  background: #0773E8;
  border-radius: 3px;
  cursor: pointer;
  opacity: .5;
}

.sampleTemplateBarSkill__bars > span:hover {
  opacity: .5 !important;
}

.sampleTemplateBarSkill__menus {
  position: absolute;
  top: -1.5rem;
  right: -1rem;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms ease-in-out;
}

.sampleTemplateBarSkill__menus > button {
  margin-left: .5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background: var(--primaryColor);
  color: var(--headingColor);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sampleTemplateBarSkill:hover .sampleTemplateBarSkill__menus {
  opacity: 1;
  pointer-events: all;
}

.sampleTemplateLists {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.sampleTemplateList {
  border: 2px dashed transparent;
  padding: 1rem;
  transition: all 250ms ease-in-out;
  position: relative;
  user-select: none;
  display: flex;
  align-items: center;
  position: relative;
}

.sampleTemplateList > div:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: var(--primaryColor);
  margin-right: 1rem;
}

.sampleTemplateList > div:last-of-type {
  flex: 1;
}

.sampleTemplateList > div:first-of-type > svg {
  color: #FFFFFF;
  width: 1.3rem;
  height: 1.3rem;
}

.sampleTemplateList:hover {
  border: 2px dashed rgb(124, 124, 124, .4);
}

.sampleTemplateList__menus {
  position: absolute;
  top: -1.5rem;
  right: -1rem;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms ease-in-out;
}

.sampleTemplateList__menus > button {
  margin-left: .5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background: var(--primaryColor);
  color: var(--headingColor);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sampleTemplateList:hover .sampleTemplateList__menus {
  opacity: 1;
  pointer-events: all;
}

.sampleTemplateTextarea {
  height: 3rem;
  width: 100%;
  border: none;
  outline: none;
  font-family: var(--primaryFont);
  font-size: 1.6rem;
  font-weight: 400;
  transition: background 250ms ease-in-out;
  color: var(--headingColor);
  resize: none;
}

.sampleTemplateTextarea:focus {
  background: #f2f5f7;
}